@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  --primary-color: #ee29e1;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  padding: 1rem;
  width: 100%;
  margin-left: 12rem;
}
.header > h2 {
  color: var(--primary-color);
  font-size: 3.7rem;
}
.header span {
  background-color: var(--primary-color);
  color: white;
  padding: 0.2rem;
}
.grid-container {
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
 gap: 2rem;
 width: 80%;
 margin: 0 auto;
}
.whole-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(75, 61, 68, 0.29);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
}
.whole-container:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 10;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.image-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(223, 175, 200, 0.29);
  position: relative;
  height: 300px;
  overflow: hidden;
}
.image-container p {
  font-size: 1rem;
  border: none;
  background-color: #dd77d6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(85, 79, 79);
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  right: 5%;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  
}
.product-name {
  display: flex;
  text-align: center;
}
.product-price {
  display: flex;
  justify-content: space-between;
}
.spacing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.stars {
  color: var(--primary-color);
  display: flex;
  gap: 0;
  align-items: center;
}
.stars i{
    color: #dd77d6;
    font-weight: 600;
}
@media (max-width:768px) {
  .header{
    margin-left: 0;
    text-align: center;
    padding: 1rem 0;
  }
  .header >h2{
    font-size: 2.5rem;
  }
  .container{
    width: 95%;
  }
  .grid-container{
    width: 95%;
    grid-template-columns: 1fr;
  }
  .whole-container{
    flex: 1 1 30%;
  }
}

