@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  font-family: "Inter", sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 90%;
  max-width: 1200px;
}
.contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  border: 1px solid rgba(75, 61, 68, 0.29);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image-section {
  aspect-ratio: 1/1;
  overflow: hidden;
  width: 100%;
  height: 360px;
  position: relative;
}
.image-section p{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    background-color: rgb(199, 129, 129);
    padding: 5px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
}
.image-section img {
  width: 100%;
  height: 100%;
  object-fit: top center;
  display: block;
  
}
.product-name {
  display: flex;
  justify-content: center;
}
.product-name p{
    font-size: 1em;
}

.price-ratings {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-left: 10px;
}
.price-ratings p{
    font-size: 1.2em;
    font-weight: bold;
}
.stars {
  display: flex;
  align-items: center;
   color: rgb(199, 129, 129) ;
}
.stars i:nth-child(-n+3){
    color: rgb(199, 129, 129) ;
    font-weight: 600;
}
