 * {
      margin: 0;
    }
    header {
      background-color: rgb(199, 190, 190);
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0;
      height: 20vh;
      font-size: 0.8rem;
    }
    header div img {
      width: 40px;
      border-style: none;
      object-fit: contain;
      display: block;
      border-radius: 50px;
      mix-blend-mode: multiply;
    }
    header div h4 {
      font-style: italic;
      margin-left: 20px;
    }
    header ul {
      display: flex;
      list-style: none;
      gap: 10px;
      font-style: italic;
      font-weight: bold;
      font-size: 0.8rem;
      padding: 0.5em;
    }
    header ul li {
      margin-right: 10px;
    }
    header ul li a {
      text-decoration: none;
      color: black;
    }
    header ul li a:hover {
      background-color: rgb(87, 166, 255);
      border-style: solid;
      padding: 5px;
      border-width: 1px;
    }
    main {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -40px;
    }
    form {
      background-color: rgb(199, 190, 190);
      padding: 2rem;
      width: 300px;
      border-radius: 50px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    form div p {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.5em;
      color: rgb(58, 55, 55);
    }
    .image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px 10px;
      height: 15vh;
      mix-blend-mode: multiply;
    }
    form div img {
      width: 50px;
    }
    form label {
      display: block;
      text-align: center;
    }
    form input {
      width: 100%;
      padding: 5px;
      border: 1px solid rgb(201, 198, 198);
      margin-bottom: 5px;
      box-sizing: border-box;
      border-radius: 20px;
    }
    form button {
      width: 100%;
      padding: 10px;
      margin: 5px 0px;
      box-sizing: border-box;
      border-radius: 20px;
      border-color: rgb(196, 172, 172);
    }
    form button:hover {
      background-color: rgb(141, 131, 131);
      cursor: pointer;
    }
    footer {
      background-color: rgb(199, 190, 190);
      height: 50px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    footer p {
      font-size: 1rem;
      font-weight: bold;
      font-style: italic;
    }